
@import url("../../style.css");

.nav-links{
    z-index: 30;
}
.mazameen{
    width: 100vw;
    height: fit-content;
    display: block;
    position: relative;
    color: white;
    z-index: 5;

}
.mazameen:before{
    content: "";
    background-image: url("../images/back2.svg");
    position: absolute;
    top: 0;
    background-size: cover;
    width: 100%;
    height: 80vh;
    background-repeat: no-repeat;
    transform: rotate(180deg);
    z-index: -1;
}
.mazameen h1{
    font-size: var(--textHeading);
    text-align: center;
    padding-top: 5rem;
    word-spacing: 3px;
}
.mazameen p{
    font-size: var(--textFont);
    text-align: center;
    font-style: bold;
    font-weight: 700;
    word-spacing: 3px;
}
.mazameen .box-area{
    padding: 8rem 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}
.mazameen .box-area .box{
    background-color: white;
    color: black;
    border-radius: 7px;
    border: 2px solid yellow;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
    width: 400px;
    gap: 3rem;
}
.box h1{
    padding: 0;
}
.box i{
    font-size: var(--textHeading);
}

.box p{
    text-align: justify;
    direction: rtl;
    word-spacing: 0;
    
}
.box a{
    padding: 0 32px;
    text-align: center;
    padding-bottom: 6px;
    


}
/* asatizah area */
.slide{
    width: 300px;
    height: auto;
    background-color: #fff;
    padding: 70px 20px 20px;
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
}
.slide h1,.slide h4{

    color: blue;
    text-align: center;
}

.slide img{
    border: 6px solid yellow;
    border-radius: 100%;
    width: 170px;
}
.slide button{
    
    color: black;
    font-style: bold;
    font-weight: 700;
    padding: 8px 30px;
    margin-top: 2rem;
    border-radius: 25px;
    border: 3px solid blue;
    cursor: pointer;
}
 h1{
    font-size: var(--textHeading);
    text-align: center;
    font-style: bold;
    font-weight: 700;
}
p{
    font-size: var(--textFont);
    font-style: bold;
    text-align: justify;
    font-weight: 700;
    direction: rtl;
}
.childmz{
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding: 10rem 0;

}
.mazeedMalomat{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ends asatizah area */